<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascrit:void(0)">Rudra</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a [routerLink]="'/accounts'"> Accounts </a></li>

      <li class=""><a [routerLink]="'/create-account'"> Create Account </a></li>

      <li class="dropdown">
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      		Contacts <span class="caret"></span>
      	</a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="'/contacts'"> List Contacts </a></li>
          <li><a [routerLink]="'/create-contact'"> Create Contact </a></li>
        </ul>
      </li>

      <li class="dropdown">
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      		Leads <span class="caret"></span>
      	</a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="'/leads'"> Leads </a></li>
          <li><a [routerLink]="'/create-lead'"> Create Lead </a></li>
        </ul>
      </li>

      <li class="dropdown">
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      		Opportunity <span class="caret"></span>
      	</a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="'/opportunities'"> Opportunities </a></li>
          <li><a [routerLink]="'/create-opportunity'"> Create Opportunity </a></li>
        </ul>
      </li>

      <li class=""><a [routerLink]="'/keyup'"> Key Up </a></li>

      <li class=""><a [routerLink]="'/hero-form'"> Hero Form </a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="javascrit:void(0)"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="javascrit:void(0)"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

